#shortcut
alias dl="~/Downloads"
alias cf="~/.config"
alias pic="$HOME/Pictures"
alias vid="$HOME/Videos"
alias home="$HOME"
alias c="clear"
alias rg="ranger"
alias ram="free -hm"

# mount USB 
alias mount-usb="sudo mount /dev/sdb1 /media/theuser/mount/USB"

# app
alias nv="nvim"

#bluetooth
alias blue-on="sudo systemctl start bluetooth.service"
alias blue-off="sudo systemctl stop bluetooth.service"

# nmcli 
alias nets="nmcli con show"
alias netu="nmcli con up"
alias netr="nmcli dev wifi rescan ; nmcli dev wifi list"
alias netc="nmcli dev wifi connect "

# auto-cpufreq
alias cpu="sudo auto-cpufreq --stats"

# ls
alias l="lsd -a"
alias lsh="ls -hSr"
alias lsl="ls -trh" 

# apt 
alias purge="sudo apt purge"
alias install="sudo apt install"
alias update="sudo apt update"
alias upgrade="sudo apt upgrade"

# check memory usage
alias topmem="top -o %MEM -E g"

# python
alias py="python3"
