#shortcut
alias dl="~/Downloads"
alias cf="~/.config"
alias pic="$HOME/Pictures"
alias vid="$HOME/Videos"
alias home="$HOME"
alias c="clear"
alias rg="ranger"
alias ram="free -hm"

# mount USB 
alias mount-usb="sudo mount /dev/sdb1 /media/theuser/mount/USB"

# app
alias nv="nvim"


#bluetooth
alias blue-on="sudo systemctl start bluetooth.service"
alias blue-off="sudo systemctl stop bluetooth.service"

# nmcli 
alias nets="nmcli con show"
alias netu="nmcli con up"
alias netl="nmcli dev wifi rescan ; nmcli dev wifi list"
alias netc="nmcli dev wifi connect "

# auto-cpufreq
alias cpu="sudo auto-cpufreq --stats"


# ls
alias l="lsd -a"
alias lsh="ls -hSr"
alias lsl="ls -trh" 

# apt 
alias purge="sudo apt purge"
alias install="sudo apt install"
alias update="sudo apt update"


## code

## copy current path

# service control

# tmux redefine
alias tmux-config="tmux new-session -c ~/.config -s config"
alias tmux-main="tmux new-session -s Main"
alias tmux-cpp="tmux new-session -c /media/theuser/mount/Documents/Code/Cpp -s Cpp-with-me \; split-window -dh -p 30"
alias tmux-go="tmux new-session -c /media/theuser/mount/Documents/Code/go -s Go-with-me \; split-window -dh -p 30"
alias tmux-reattact="tmux a -t "
alias tmux-python="tmux new-session -c /media/theuser/mount/Documents/Code/python -s Python-with-me" 

# golang
alias getgo="export PATH=$PATH:/usr/local/go/bin"

# get python virtual enviroment
alias sourcepython="source /media/theuser/mount/documents/Code/python/env/bin/activate"

# pulseaudio
alias unmute="amixer set Master unmute"

# check memory usage
alias topmem="top -o %MEM -E g"

# python
alias py="python3"

