*
!.gitignore
!nvim/
!tmux/
!custome-cli-cmd/
!gtk-3.0/
!i3/

!sway/
!wofi/
!waybar/

!i3blocks/
!rofi/
!.aliases
!.clang-format
!.dircolors
!.zshrc
!README.md
!compton.conf
!picom.conf
!pycodestyle
!redshift.conf
!starship.toml
